gql==3.0.0a1
aiohttp>=3.6.2
async-timeout>=3.0.1
attrs>=20.2.0
certifi>=2020.6.20
chardet<4.0,>=2.0
click>=7.1.2
graphql-core>=3.1.2
idna>=2.10
multidict<5.0,>=4.5
parsedatetime>=2.6
promise>=2.3
PyYAML>=5.3.1
requests>=2.24.0
Rx>=1.6.1
setuptools-scm>=4.1.2
sh>=1.14.0
six>=1.15.0
urllib3>=1.25.10
wait-for>=1.1.4
websockets>=8.1
yarl>=1.5.1
tabulate>=0.8.7
python-dotenv>=0.15.0
ocviapy>=0.3.2
app-common-python>=0.1.6
cached-property>=1.5.2
