apiVersion: v1
kind: Template
metadata:
  name: ephemeral-clowdenvironment

objects:
- apiVersion: cloud.redhat.com/v1alpha1
  kind: ClowdEnvironment
  metadata:
    name: env-${NAMESPACE}
  spec:
    namespace: ${NAMESPACE}
    web:
      port: 8000
      provider: operator
    metrics:
      port: 9000
      provider: operator
      path: "/metrics"
    kafka:
      namespace: default
      clusterName: my-cluster
      provider: local
    db:
      image: "registry.redhat.io/rhel8/postgresql-12:1-36"
      provider: local
    logging:
      provider: none
    objectStore:
      provider: minio
    inMemoryDb:
      provider: app-interface

parameters:
- name: NAMESPACE
  description: Namespace that ClowdEnvironment components will be deployed to
  required: true
