apiVersion: v1
kind: Template
metadata:
  name: ephemeral-clowdenvironment

objects:
- apiVersion: cloud.redhat.com/v1alpha1
  kind: ClowdEnvironment
  metadata:
    name: ${ENV_NAME}
  spec:
    targetNamespace: ${NAMESPACE}
    resourceDefaults:
      limits:
        cpu: 300m
        memory: 256Mi
      requests:
        cpu: 30m
        memory: 128Mi
    providers:
      web:
        port: 8000
        mode: operator
      featureFlags:
        mode: local
      metrics:
        port: 9000
        path: "/metrics"
        prometheus:
          deploy: true
        mode: operator
      kafka:
        mode: operator
      db:
        mode: local
      logging:
        mode: none
      objectStore:
        mode: minio
      inMemoryDb:
        mode: redis
parameters:
- name: NAMESPACE
  description: Namespace that ClowdEnvironment components will be deployed to
- name: ENV_NAME
  description: Name of the ClowdEnvironment
  required: true
